/* open-sans-regular - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url(""); /* IE9 Compat Modes */
  src: local('Open Sans Regular'), local('OpenSans-Regular'),
       url("") format('embedded-opentype'), /* IE6-IE8 */
       url("open-sans-v15-latin-regular.woff2") format('woff2'), /* Super Modern Browsers */
       url("open-sans-v15-latin-regular.woff") format('woff'), /* Modern Browsers */
       url("open-sans-v15-latin-regular.ttf") format('truetype'), /* Safari, Android, iOS */
       url("") format('svg'); /* Legacy iOS */
}
/* open-sans-600 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: url(""); /* IE9 Compat Modes */
  src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'),
       url("") format('embedded-opentype'), /* IE6-IE8 */
       url("open-sans-v15-latin-600.woff2") format('woff2'), /* Super Modern Browsers */
       url("open-sans-v15-latin-600.woff") format('woff'), /* Modern Browsers */
       url("open-sans-v15-latin-600.ttf") format('truetype'), /* Safari, Android, iOS */
       url("") format('svg'); /* Legacy iOS */
}